<!DOCTYPE html>
<html>
<head>
  <title>Users List</title>
  <link rel="stylesheet" href="/css/users.css">
</head>
<body>
  <div class="main-container">
    <h1>Registered Users:</h1>
    <ul>
      <% users.forEach(user => { %>
        <li class="list_of_users">
          <span><%= user.name %></span>
          <span><%= user.email %></span>
        </li>
      <% }) %>
    </ul>

    <div class="image-container">
      <img src="/images/conference_img.webp" alt="Conference Image">
    </div>
  </div>
</body>
</html>
